code[[:space:]]&[[:space:]]data/dataset/pretrain/energy/wind/wind_farms_minutely_dataset_without_missing_values.tsf filter=lfs diff=lfs merge=lfs -text
code[[:space:]]&[[:space:]]data/dataset/dataset.zip filter=lfs diff=lfs merge=lfs -text
code[[:space:]]&[[:space:]]data/dataset/pretrain/nature/temperature_rain/temperature_rain_dataset_without_missing_values.tsf filter=lfs diff=lfs merge=lfs -text
